---

---

<section id="about" class="w-full mt-24 bg-[#272847]">
  <div class="grid sm:grid-cols-2 grid-cols-1">
    <div class="mx-auto max-w-96 ">
        <div class="mx-auto mb-16 mt-16 flex flex-col  justify-center">
            <h2 class="my-6 md:text-left text-center text-3xl font-lato font-bold tracking-tight text-white sm:text-4xl">
                About.
            </h2>   
          <p class="text-white font-light md:text-left text-center">
            MDIntelligence is your trusted partner in the digital development realm.
            With five years of experience, we excel in professionalism and
            commitment to crafting websites, mobile apps, PowerApps, and artificial
            intelligence solutions. <br /><br>
            We take pride in delivering reliable, high-performance products, supported
            by exceptional service and personalized attention that ensures the success
            of every project. Trust us to elevate your digital presence to the next level.
          </p>
        </div>
    </div>
    
    <div class="h-[550px] sm:h-[850px] bg-[url('/team.jpg')] bg-contain md:bg-cover bg-center  bg-no-repeat">

    </div>
  </div>
</section>
