---
interface Props {
}

const {} = Astro.props;
---

<section id="what-we-do" class="mx-auto mt-12 max-w-7xl px-6 sm:mt-32 lg:px-8">
    <div class="mx-auto max-w-2xl">        
        <h2 class="mt-2 text-3xl font-lato tracking-tight text-gray-900  text-center">
            What we do.
        </h2>        
    </div>
    <div class="mx-auto mt-16 max-w-2xl  lg:max-w-fit">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-16">
            <div class="relative p-16 shadow-lg shadow-blue-100/50 rounded-xl">
                <dt class="text-3xl font-medium leading-7 text-gray-900">                   
                    Web/App Design & 
                    Development
                </dt>
                <dd class="mt-2 text-sm pt-4 text-gray-600">
                    Our team specializes in creating visually stunning and highly functional websites and mobile applications tailored to your unique needs and brand identity.
                </dd>
            </div>
            <div class="relative p-16  rounded-xl">
                <dt class="text-3xl font-medium leading-7 text-gray-900">                   
                    Artificial
                    Intelligence
                </dt>
                <dd class="mt-2 text-sm pt-4 text-gray-600 font-light">
                    Harness the power of AI with our cutting-edge solutions, from natural language processing to computer vision, to optimize processes and enhance user experiences.
                </dd>
            </div>
            <div class="relative p-16 shadow-lg shadow-blue-100/50 rounded-xl">
                <dt class="text-3xl font-medium leading-7 text-gray-900">                   
                    Salesforce 
                    Development
                </dt>
                <dd class="mt-2 text-sm pt-4 text-gray-600 font-light">
                    Unlock the full potential of Salesforce with our expertise in customizing and integrating Salesforce solutions to streamline your sales, marketing, and customer service operations.
                </dd>
            </div>
            <div class="relative p-16 rounded-xl">
                <dt class="text-3xl font-medium leading-7 text-gray-900">                   
                    PowerApps
                </dt>
                <dd class="mt-2 text-sm pt-4 text-gray-600 font-light">
                    Empower your business with custom PowerApps solutions that streamline workflows, automate tasks, and drive productivity across your organization.
                </dd>
            </div>
            <div class="relative p-16  shadow-lg shadow-blue-100/50 rounded-xl">
                <dt class="text-3xl font-medium leading-7 text-gray-900">                   
                    Machine Learning
                </dt>
                <dd class="mt-2 text-sm pt-4 text-gray-600 font-light">
                    Leverage the power of data with our machine learning services, where we develop predictive models and algorithms to extract insights and drive informed decision-making.
                </dd>
            </div>
            <div class="relative p-16  rounded-xl">
                <dt class="text-3xl font-medium leading-7 text-gray-900">                   
                    Saas Development
                </dt>
                <dd class="mt-2 text-sm pt-4 text-gray-600 font-light">
                    Transform your ideas into scalable and secure Software as a Service (SaaS) solutions with our comprehensive development services, tailored to meet the evolving needs of your users.
                </dd>
            </div>

            
           
        </dl>
    </div>
</section>